[versions]
# Core technologies
kotlin = "1.9.0"
java = "11"
gradle = "8.2.1"
shadow = "8.1.1"

# Web Framework
ktor = "2.3.2"

# Logging
logback = "1.4.11"
logging_capabilities = "0.11.1"

# Asynchronous and Concurrency
atomicFu = "0.21.0"
kotlinx_coroutines = "1.7.1"

# Testing
kotest = "5.6.2"
kotest-test-containers = "2.0.2"
kotest-embedded-kafka = "2.0.0"
junit = "5.9.2"
mockk = "1.11.0"
testcontainers = "1.19.0"

# Code Quality and Coverage
ktlint = "11.5.1"
kover = "0.7.2"
koverBadge = "0.0.5"
detekt = "1.23.1"

# Date and Time
kotlinx_datetime = "0.4.0"

# Functional Programming
arrow = "1.2.0"

# Messaging
kafka = "3.5.1"
confluent = "5.3.0"
avro4k = "0.41.0"
avro = "1.11.2"

# Documentation
dokka = "1.8.20"

[libraries]
# Core libraries
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
arrow-core = { module = "io.arrow-kt:arrow-core", version.ref = "arrow"}
arrow-fx-coroutines = { module = "io.arrow-kt:arrow-fx-coroutines", version.ref = "arrow" }
shadow-gradlePlugin = { module = "com.github.johnrengelman:shadow", version.ref = "shadow" }

# Web Framework
ktor-client-cio = { module = "io.ktor:ktor-client-cio", version.ref = "ktor" }
ktor-serialization-kotlinx-json = { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ktor-server-contentNegotiation = { module = "io.ktor:ktor-server-content-negotiation", version.ref = "ktor" }
ktor-client-contentNegotiation = { module = "io.ktor:ktor-client-content-negotiation", version.ref = "ktor" }

# Testing libraries
kotest-runner-junit5 = { module = "io.kotest:kotest-runner-junit5", version.ref = "kotest" }
mockk = { module = "io.mockk:mockk", version.ref = "mockk" }
kotest-extensions-testcontainers = { module = "io.kotest.extensions:kotest-extensions-testcontainers", version.ref = "kotest-test-containers" }
kotest-extensions-testcontainers-kafka = { module = "io.kotest.extensions:kotest-extensions-testcontainers-kafka", version.ref = "kotest-test-containers" }
testcontainers-bom = { module = "org.testcontainers:testcontainers-bom", version.ref = "testcontainers" }
testcontainers-kafka = { module = "org.testcontainers:kafka", version.ref = "testcontainers" }

# Messaging Libraries
kafka-clients = { module = "org.apache.kafka:kafka-clients", version.ref = "kafka" }
kafka-streams = { module = "org.apache.kafka:kafka-streams", version.ref = "kafka" }
kafka-schema-registry-client = { module = "io.confluent:kafka-schema-registry-client", version.ref = "confluent" }
kafka-avro-serializer = { module = "io.confluent:kafka-avro-serializer", version.ref = "confluent" }
avro4k-core = { module = "com.sksamuel.avro4k:avro4k-core", version.ref = "avro4k" }
avro-tools = {module = "org.apache.avro:avro-tools", version.ref = "avro"}

# Code Quality and Coverage plugins
ktlint-gradlePlugin = { module = "org.jlleitschuh.gradle:ktlint-gradle", version.ref = "ktlint" }
kover-gradlePlugin = { module = "org.jetbrains.kotlinx:kover-gradle-plugin", version.ref = "kover" }
kover-badge-gradlePlugin = { module = "io.github.flaxoos:kover-badge", version.ref = "koverBadge" }
detekt-gradlePlugin = { module =  "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }

# Asynchronous and Concurrency plugins
atomicfu-gradlePlugin = { module = "org.jetbrains.kotlinx:atomicfu-gradle-plugin", version.ref = "atomicFu" }

# Logging
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }
loggingCapabilities-gradlePlugin = { module = "dev.jacomet.gradle.plugins:logging-capabilities", version.ref = "logging_capabilities" }

# Testing plugins
kotestFrameworkMultiplatform-gradlePlugin = { module = "io.kotest:kotest-framework-multiplatform-plugin-gradle", version.ref = "kotest" }

# Documentation
dokka-gradlePlugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }

[plugins]
shadow = { id = "com.github.johnrengelman.shadow", version.ref = "shadow" }

# Code quality and coverage
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
kover-badge = { id = "io.github.flaxoos.kover-badge", version.ref = "koverBadge" }
loggingCapabilities = { id = "dev.jacomet.logging-capabilities", version.ref = "logging_capabilities" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version.ref = "ktlint" }

# Documentation
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }

# Asynchronous and Concurrency plugins
atomicfu = { id = "kotlinx-atomicfu", version.ref = "atomicFu" }
