<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.github.dockerjava" level="info"/>
    <logger name="io.ktor" level="info"/>
    <logger name="ktor.test" level="info"/>
    <logger name="io.github.flaxoos.ktor.server.plugins" level="info"/>
    <logger name="io.github.flaxoos.ktor.server.plugins.taskscheduling.managers" level="info"/>
</configuration>

